@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Swiper Carousel */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  /* background-color: #696f87; */
  background-color: #0077b5;
  padding: 20px;
  border-radius: 50%;
  height: 15px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

/* All headline */
.headline {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 55px;
  text-align: center;
}
